/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
  font-size: 1.5em;
}

header {
  background-color: #0066cc;
  color: white;
  padding: 1em;
  text-align: center;
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}

.logo {
  max-height: 120px;
}

nav {
  background-color: #ff8400;
  border: 2px white;
  padding: 0.5em;
  text-align: center;
  text-size:1.5em

}

nav a {
  color: white;
  margin: 0 1em;
  text-decoration: none;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 1em;

}

main {
}

section {
  display: grid;
  margin-bottom: 2em;
  justify-content: center;
}

h2 {
  color: #004080;
  font-size: 2em;
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-style: normal;
}


.row {
  display: inline-flex;
  grid-auto-rows: auto;
  flex-wrap: wrap;
  width: 100%;
  border-spacing: 10px;
  justify-items: center;
  background-color: #0066cc;
  font-size: 1em;
}

.column{
  flex: 1 0 25%; /* grow / shrink/ basis-% tells the columns to take up the whole width of the row */
  background-color: white;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  margin: 1.5em;
  padding: 10px;

}
@media (max-width: 900px) {
  .column {
    flex: 1 0 50%; /* grow / shrink/ basis-% tells the columns to take up the whole width of the row */  }
}

@media (max-width: 600px) {
  .column {
    flex: 1 0 75%; /* grow / shrink/ basis-% tells the columns to take up the whole width of the row */  }
}
.calendar{
  width: 95vw;
  height: 80vh;
  padding: 20px;
  align-self: center;
  justify-self: center;
  background-color: #ff8400;
}
.calendar-header{
  margin-left: 1em;
}
.store-button {
  display: flex;
  background-color: #ff8400;
  color: #000;
  padding: 10px 20px;
  margin-bottom: 10px;
  text-decoration: none;
  border-radius: 5px;
  justify-self: center;
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}

footer {
  background-color: #004080;
  color: white;
  text-align: center;
  padding: 1em;
  font-size: 1.5em;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

